target/
*.pyc

# idea
*.i??
.idea/
out/
classes/
*.log

# eclipse
.classpath
.project
.settings/
bin/

# gradle
.gradle
build/

# vim swap files
*.swp

# OS X
.DS_Store

# Gradle Properties
# Don't make this commitable as this contains creds for publishing to Maven Central
gradle.properties
